*.log
.DS_Store
.env
.env.backup
.env.production
.env.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/.vercel
/.agents
/.claude
/skills-lock.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
/bootstrap/cache/*.php
/.freebuff
/database/*.sqlite
/database/*.sqlite-journal
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
.vercel
.env*
