# Prevent PHP execution in uploads folder
<Files *.php>
    Order Allow,Deny
    Deny from all
</Files>
<Files *.php*>
    Order Allow,Deny
    Deny from all
</Files>
Options -ExecCGI
AddHandler cgi-script .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .htm .shtml .sh .cgi
